.sobre-nosotros {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contenido {
    display: flex;
    align-items: flex-start;
}

.imagen {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.texto {
    flex: 1;
}

.titulo {
    background-color: #f0f0f0;
    padding: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.2em;
}

.descripcion {
    background-color: #f0f0f0;
    padding: 5px;
}

.visible {
    display: block;
}

.oculto {
    display: none;
}
