.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #e3f2fd;
    z-index: 1000;
    background: rgb(0,129,207);
    background: linear-gradient(90deg, rgb(105,188,238) 0%, rgb(168,140,242) 100%);
}

.navbar-dark .navbar-nav .nav-link {
    color: white !important;
    font-weight: bold;
}
  

.navbar-dark .navbar-nav .nav-link:hover {
    color: black !important;
}

.collapse.navbar-collapse.show {
    background: linear-gradient(90deg, rgb(105,188,238) 0%, rgb(168,140,242) 100%);
}
