* {
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  background-image: url('../public/img/wallpc.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(100, 98, 98, 0.5);
  background-attachment: fixed;
}